grammaire/monuments_coord.dtd

<?xml version="1.0" encoding="UTF-8"?>

<!ELEMENT monuments (monument)+>
<!ATTLIST monuments
  xmlns CDATA #FIXED ''>

<!ELEMENT monument (name,coordinates)>
<!ATTLIST monument espace CDATA #REQUIRED>

<!ELEMENT name (#PCDATA)>
<!ATTLIST name
  xmlns CDATA #FIXED ''>

<!ELEMENT coordinates (#PCDATA)>
<!ATTLIST coordinates
  xmlns CDATA #FIXED ''>
